@page "/"

<PageTitle>Index</PageTitle>
<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>
<div class="header-content">
    <h1>Site ainda em construção...</h1>
    <h3>Por favor descanse um pouco sua jornada na fogueira</h3>
</div>

<div class="campfire">

    <div id="fire">
        <img src="./assets/fireanimation.gif" alt="campfire" />
        <div id="wood">
            <img src="./assets/wood.png" alt="wood" />
        </div>
    </div>

    <div id="container">
        <div class="smoke" id="smoke1"> </div>
        <div class="smoke" id="smoke2"> </div>
        <div class="smoke" id="smoke3"> </div>
        <div class="smoke" id="smoke4"> </div>
        <div class="smoke" id="smoke5"> </div>
    </div>

</div>
