@page "/"

<PageTitle>Index</PageTitle>

        <div class="header-content">
            <h1>Site ainda em construção...</h1>
            <h3>Por favor descanse um pouco sua jornada na fogueira</h3>
        </div>

